/*-----------------------------------------------------------------------*/
/*-----------------------DEFAULT SETUP-----------------------------------*/
/*-----------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    color: #5a5a5a;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* ------sticky----- */
.sticky{
    background-color: rgba(233, 15, 15, 0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
}

.sticky .logo{
    width: 150px;
    margin-top: -40px;
}
.sticky .main-nav{
    margin-top: 30px;
}

/*-----------------------------------------------------------------------*/
/*--------------------REUSABLE COMPONENT---------------------------------*/
/*-----------------------------------------------------------------------*/
.btn{
    text-decoration: none;
    color: white;
    background-color: #e67e22;
    padding: 15px 30px;
    border-radius: 20px;
    margin: 0 5px;
    width: 190px;
    display: inline-block;
    text-align: center;
    transition: all .3s;
}

.tieu-de-1{
    color: yellow;
}

.tieu-de-1::after{
    background-color: yellow;
}

.btn:hover, btn:active{
    background-color: #d35400;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

.clearfix::after{
    content:" ";
    display: table;
    clear: both;
}

h1,h2,h3{
    text-transform: uppercase;
    letter-spacing: 1px;
}

h2{
    color: #e67e22;
    font-size: 180%;
    font-weight: 700;
    text-align: center;
}

h2::after{
    content: " ";
    display: block;
    width: 150px;
    height: 3px;
    background-color: rgba(230,126,34,0.5);
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 50px;
}

h3{
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #265077;
    color: white;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-bottom: 10px;
}

.p-long{
    text-align: center;
    color: #265077;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 70%;
    margin-left: 15%;
    line-height: 140%;
}

section{
    padding: 50px;
}

/*-----------------------------------------------------------------------*/
/*-------------------------------HEADER----------------------------------*/
/*-----------------------------------------------------------------------*/
header{
    background-image:linear-gradient(45deg,rgba(233, 15, 15, 0.6) 55%,rgba(243, 54, 54, 0.25)), url("../img/OIP.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.logo{
    width: 300px;
    float: left;
    margin-left: 50px;
    margin-top: -70px;
}

.main-nav{  
    float: right;
    list-style: none;
    margin-right: 50px;
    margin-top: 55px;
}

.main-nav li a{
    text-decoration: none;
    color: white;
    font-size: 110%;
    font-weight: 700px;
    transition: border-bottom 0.5s;
    padding: 3px 0;
}

.main-nav li a:hover, .main-nav li a:active{
    border-bottom: 2px solid #cccccc;
}

.main-nav li{
    display: inline;
    margin-right: 30px;
}

.heading-main-box{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-35%,-55%);
    width: 1140px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.thien-duong{
    margin-right: 10px;
    padding-right: 30px;
    text-transform: none;
    margin-top: 10px;
}

.vien{
    font-size: 300%;
    margin-top: 75px;
    padding-bottom: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    font-size: 250%;
    font-weight: 400;
    word-spacing: 10px;
    color: white;   
    line-height: 125%;
    margin-bottom: 25px;
    padding-top: 70px;
}
/*-----------------------------------------------------------------------*/
/*-----------------------------VIETNAM-----------------------------------*/
/*-----------------------------------------------------------------------*/

video{
    margin-top: 50px;
    width: 50%;
    height: 50%;
    display: inline-block;
}

#intro-viet-1{
    text-align: left;
    margin: 0 auto;
    padding-left: 50px;
    float: right;
    letter-spacing: 1px;
    font-size: 20px;
    color: black;
}

#intro-viet-2{
    text-align: left;
    margin-top: 20px;
    letter-spacing: 1px;
    font-size: 20px;
    color: black;
}

/*-----------------------------------------------------------------------*/
/*------------------------ABOUT SECTION----------------------------------*/
/*-----------------------------------------------------------------------*/

.about-section{
    background-image:linear-gradient(45deg,rgba(233, 15, 15, 0.7) 55%,rgba(243, 54, 54, 0.75)), url('../img/OIP\ \(3\).jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.p-long{
    color: white !important;
}
 
.about-picture img{
    width: 90%;
    border-radius: 20px;
    border: 4px solid #c2e1fd;
    box-shadow: 0px 5px 15px 5px #265077;
    transition: all .7s;
}

.picture-title{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #c2e1fd;
    transform: translate(-65%,100%);
    opacity: 0;
    transition: all .7s;
}

.about-picture{
    position: relative;
    margin-top: 50px;
}

.about-picture:hover img,
.about-picture:active img{
    filter: brightness(55%) blur(2px);
}

.about-picture:hover .picture-title,
.about-picture:active .picture-title{
    transform: translate(-65%, -50%);
    opacity: 1;
}

/*-----------------------------------------------------------------------*/
/*---------------------PRODUCT SECTION-----------------------------------*/
/*-----------------------------------------------------------------------*/

.products-section{
    background-color: #f4f4f4;
}

.products-section h2{
    margin-bottom: 60px;
}
 
.product-box{
    background-color: #eeefff;
    box-shadow: 3px 5px 10px #e0e0e0;
    width: 90%;
    height: 350px;
}
 
.product-price{
    color: #265077;
    font-size: 250%;
    font-weight: 300;
    text-align: center;
}
 
.product-price span {
    font-size: 80%;
}
 
.product-box ul li{
    margin-left: 20%;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
 
.product-box .btn{
    margin-left: 20%;
}

/*-----------------------------------------------------------------------*/
/*------------------------TESTIMONIALS SECTION---------------------------*/
/*-----------------------------------------------------------------------*/
.testimonials-section{
    background-image:linear-gradient(45deg,rgba(233, 15, 15, 0.7) 55%,rgba(243, 54, 54, 0.75)), url('../img/OIP\ \(4\).jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
 
.testimonials-section h2{
    margin-bottom: 70px;
}
 
blockquote{
    width: 95%;
    position: relative;
    font-style: italic;
    line-height: 140%;
    color: white;
}
 
blockquote:before{
    content: '\201C';
    display: block;
    font-size: 400%;
    position: absolute;
    top: -10px;
    left: -10px;
}
 
cite{
    display: block;
    color: rgb(153, 228, 239)   ;
    margin-top: 25px;
}
 
cite img{
    height: 50px;
    border-radius: 50%;
    border: 2px solid #265077;
    vertical-align: middle;
    margin-right: 5px;
}

/*-----------------------------------------------------------------------*/
/*------------------------SPONSORS SECTION-------------------------------*/
/*-----------------------------------------------------------------------*/

.sponsors-section{
    background-color: #f4f4f4;
}

.sponsors-section h2{
      margin-bottom: 50px;
}

.sponsors-showcase{
   margin-left: 8%;
}

.sponsors-showcase li{
   list-style: none;
   float: left;
   width: 30%;
   text-align: center;
   margin-bottom: 20px;
}

.logo-sponsor{
   width: 140px;
   cursor: pointer;
   transition: all .3s;
}

.sponsors-showcase li .logo-sponsor:hover,
.sponsors-showcase li .logo-sponsor:active{
   transform: scale(1.2);
}

figcaption{
   color: #265077;
   font-weight: 900;
   font-size: 120%;
   cursor: pointer;
}

/*-----------------------------------------------------------------------*/
/*--------------------------CONTACT FORM---------------------------------*/
/*-----------------------------------------------------------------------*/

.contact-section{
    background-image:linear-gradient(45deg,rgba(233, 15, 15, 0.7) 55%,rgba(243, 54, 54, 0.75)), url('../img/R.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/*-----------------------------------------------------------------------*/
/*--------------------------------FOOTER---------------------------------*/
/*-----------------------------------------------------------------------*/

footer{
    text-align: center;
    background-color: #494949;
    color: white;
    padding: 20px;
}

.information{
    list-style: none;
    color: white;
    line-height: 200%;
    margin-top: 70px;
    word-spacing: 1px;
    font-size: 90%;
}

.information .small-icon{
    color: yellowgreen;
    margin: 10px;
}

.information .small-icon:hover,
.information .small-icon:active{
    transform: scale(1.3);
}

.social-icons{
    margin-top: 50px;
    list-style: none;
}

.social-icons li{
    display: inline-block;
    font-size: 250%;
    margin-left: 20px;
    color: white;
}

.social-icons li i{
    transition: all .3s;
    cursor: pointer;
}

.social-icons li i:hover,
.social-icons li i:active{
    transform: scale(1.3);
    color: #e67e22;
}

.last-obj{
    width: 120%;
    margin-left: -100px;
}